
    @media(min-width:991px) {   
        .navbar-nav {
            visibility: hidden;
        }

      
        .userInfoScre{
            visibility: hidden;
        }
    } 
    
    @media(max-width:991px) {   
        .menu {
            display: none;
        }
        .row{
            height: auto;
            width: auto;
        }
    
    } 
    body{
        width: 100vw;
        height: 100vh;
        position: fixed;
    
    }

 
 .menu {
        height: 100vh;
        background-color: #faebd7;
        list-style: none;
        text-decoration: none;
        margin-bottom: 0;
        padding-left: 15px;
 }
 .nav{
    z-index: 1;
 }
 .item{
    display: block;
    background-color: rgb(252, 251, 251);
    color: rgb(0, 0, 0);
    list-style: none;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 5px;

 }
 .item:hover{
    background-color: rgb(54, 54, 245);
    color: white;
 }
    .card {
        height: auto;
        width: auto;
        margin:5px 20px 5px 0px;
        
    }
  img{
    display: flex;
    width: auto;
    height: auto;
  }
    