
    @media(min-width:991px) {   
        .navbar-nav {
            visibility: hidden;
        }
    } 

    @media(max-width:991px) {   
        .menu {
            display: none;
        }
        .row{
            height: auto;
            width: auto;
        }
    } 
    body{
        width: 100vw;
        height: 100vh;
        position: fixed;
    
    }


  

 .menu {
    height: 100vh;
        background-color: rgb(216, 213, 210);
        list-style: none;
        text-decoration: none;
        margin-bottom: 0;
 }
 .ul {
    list-style: none;
 }

    .card {
        box-shadow: 2px 2px 10px;
        margin: 2px;
        border-radius: 8px;
        min-height: 300px;
    }
  
    